@use "variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.app {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  background: $bg;
  color: #111;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

.app-header {
  padding: 1.2em;
  text-align: center;
  background: $glass-bg;
  box-shadow: $shadow;
  h1 {
    margin: 0;
    font-size: 2em;
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.app-main {
  padding: 1em;
  flex: 1;
  overflow-y: auto;
}

.board-container {
  display: flex;
  height: 100%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em;
  background: $glass-bg;
  box-shadow: $shadow;
  margin-top: auto;
}
