@use "variables" as *;

.board {
    padding: 1em;
    display: flex;
    gap: 2em;
    align-items: stretch;
    height: 100%;
}

@media (max-width: 900px) {
    .board {
        flex-direction: column;
        align-items: center;
    }
}