@use "variables" as *;
@use "buttons";
@use "sass:color";

.column-wrapper {
  @include glass-effect;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1em;
}

.column-header {
  @include glass-effect;
  padding: 1em 1.5em;
  margin-bottom: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    margin: 0;
  }
  .btn-open-modal {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.2rem;
    transition: transform 0.2s, color 0.2s;
    margin-left: auto; // Pushes the button to the right

    &:hover {
      transform: scale(1.2);
      color: #ccc;
    }
  }
}

.tasks-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1;
}

.column-footer {
  margin-top: 1em;
  .btn-add {
    @extend .btn;
    @extend .btn-primary;
    width: 100%;
    padding: 0.9em;
  }
}

.column-page-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 243, 0.9); 
  backdrop-filter: blur(20px); 
  z-index: 10;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-page-header {
  width: 100%;
  max-width: 420px;
  padding-bottom: 24px;
  text-align: left;
}

.column-page-content {
  width: 100%;
  max-width: 420px; 
  height: 100%; 
}

.back-btn {
  background: none;
  border: 1px solid #ccc;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
  
  &:hover {
    background: #f0f0f0;
  }
}
