@use "variables" as *;
@use "sass:color";

.column-wrapper {
  background: $glass-bg;
  border: 1px solid $glass-border;
  backdrop-filter: blur(10px) saturate(180%);
  border-radius: $radius;
  box-shadow: $glass-shadow-outer, $glass-shadow-inner;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1em;
}

.column-header {
  margin-bottom: 0.7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    margin: 0;
  }
}

.tasks-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1;
  overflow-y: auto;
}

.column-footer {
  margin-top: 1em;
  .btn-add {
    width: 100%;
    padding: 0.9em;
    border-radius: $radius;
    background: $accent;
    color: white;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: color.scale($accent, $lightness: -7%);
    }
  }
}
