@use "variables" as *;

.task-card {
    background: $glass-bg;
    border: 1px solid $glass-border;
    backdrop-filter: blur(8px) saturate(180%);
    padding: 1em;
    border-radius: $radius;
    box-shadow: $glass-shadow-outer, $glass-shadow-inner;
    cursor: grab;

    h4 {
        margin: 0 0 6px 0;
        color: #222;
    }

    small {
        color: #666;
    }
}