@use "variables" as *;
@use "sass:color";

.task-card {
  @include glass-effect;
  padding: 1em 1.5em;
  cursor: grab;

  h4 {
    margin: 0 0 6px 0;
    color: #f1f1f1;
  }

  small {
    color: #f2f2f2;
    font-size: 0.8rem;
  }
}

.is-dragging {
  transform: scale(0.95);
  background-color: color.scale($accent, $alpha: -50%);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  z-index: 9999;
}
